@{
    ViewData["Title"] = "Product List";
}

@model NK.Web.CasePortal.Controls.ProductList.Models.ProductListViewModel

@section Styles {
    <link href="/css/views/productlist/productlist.css" asp-append-version="true" />
}

<table class="table productlist-table">
    <thead>
        <tr>
            <td>ProductId</td>
            <td>Name</td>
            <td>Price</td>
        </tr>
    </thead>
    @{
        foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.ProductId</td>
                <td><a asp-controller="ProductDetail" asp-action="ProductDetail" asp-route-id="@item.ProductId">@item.Name</a></td>
                <td>@item.SalesPrice</td>
            </tr>
        }
    }
</table>