$color-brand-pink-primary: #db006c;
$color-awesome-dark: #252525;

$color-blue: #2178FF;
$color-blue-rgba: rgba(33, 120, 255, 1);
$color-red: #F7422C;
$color-red-rgba: rgba(247, 66, 44, 1);
$color-light-red: #FFF5F5;
$color-green: #4CDA64;


$color-placeholder-grey: #6E737F;
$color-light-grey: #F6F7FB;
$color-inactive-grey: #ced4da; 
$color-off-grey: $color-inactive-grey;
$color-grey: #626e79;

//Gray colors from bootstrap
$color-gray-200: #e9ecef;
$color-gray-300: #dee2e6;
$color-gray-600: $color-placeholder-grey;
$color-gray-700: #495057;
$color-gray-800: #343a40;
$color-gray-900: #212529;

$color-black: #202528;
$color-ui-black: #000;
$color-text-white:  #f0f0f0;
$color-form-background-inactive-grey: #F6F7FB; 
$color-form-text-black: #303749;
$color-form-text-gray: #A8B4BE;
$color-white: #fff;
$color-orange: #ffbf69;
$color-warning: #FFF2E1;
$color-white: #FFFFFF;
$color-purple: #CB14CB;


$color-missingimage-placeholder: #A2A5AD;

// Table specific
$color-table-header: #303749;
$color-table-body: #F6F7FB;
$color-table-footer: #303749;

// Pill checkbox selector - TODO raname? Used a lot of other places than pill checkbox
$color-pill-inactive: #CCD1DA;

$color-bv-nas-header: #91106C;
$color-cpdk-nas-header: #802E9D;
$color-cpse-nas-header: #1094C4;
$color-cpfi-nas-header: #398135;
$color-cpde-nas-header: #000000;
$color-cpat-nas-header: #FE0000;
$color-cppl-nas-header: #DF0A3A;
$color-bvm-nas-header: #000000;
$color-nh-nas-header: #0097E0;

$color-checkbox-border: #ADB2BA;

$color-pill-activeshops-inactive: #A0A0A0;
