@import '../../variables/_colors.scss';

//// HTML general select field styles
//// ALL normal select fields should have this markup, unless the select is inside a table or the select is used as a part of a component
//// <label data-label="Currency" class="input-field" >
////    @Html.DropDownList("currency", new SelectList(Model.Currencies, "Value", "Text", Model.SelectedCurrency), "Choose")
//// </label >
label.input-field > select {
    background-color: $color-white;
    color: $color-form-text-black;
    border: 1px solid $color-pill-inactive;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    width: -moz-available; /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available; /* Mozilla-based browsers will ignore this. */
    padding-left: 1rem;
    padding-top: .9rem;
    opacity: 1;
    padding-right: 5rem;
}

label.input-field:not([data-label]) > select {
    padding-top: 0;
}

label.input-field > select[disabled],
label.input-field > select[readonly] {
    border: 1px solid $color-pill-inactive;
    border-radius: 5px;
    background-color: $color-form-background-inactive-grey;
    pointer-events: none;
}

label.input-field > select:focus {
    outline: none;
    border: 1px solid $color-blue;
    border-radius: 5px;
    box-shadow: 0px 0px 3px $color-blue;
}

label.input-field:has(select) {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 3.25rem;
    margin-bottom: 0;

    i:first-of-type {
        padding-left: 1rem;
    }

    > .info-icon, > .warning-icon, > .error-icon {
        position: absolute;
        padding: .3rem;
        right: 24px;
    }

    // Info, warning and error icons are present at the same time
    &:has(.info-icon):has(.warning-icon):has(.error-icon) {
        .info-icon {
            right: 61.5px;
        }

        .warning-icon {
            right: 42px;
        }

        .error-icon {
            right: 24px;
        }
    }
    // Both info and warning icons are present at the same time
    &:has(.info-icon):has(.warning-icon) {
        .info-icon {
            right: 42px;
        }

        .warning-icon {
            right: 24px;
        }
    }
    // Both info and error icons are present at the same time
    &:has(.info-icon):has(.error-icon) {
        .info-icon {
            right: 42px;
        }

        .error-icon {
            right: 24px;
        }
    }
    // Both warning and error icons are present at the same time
    &:has(.warning-icon):has(.error-icon) {
        .warning-icon {
            right: 42px;
        }

        .error-icon {
            right: 24px;
        }
    }
}

label.input-field:has(select)::before {
    content: attr(data-label);
    position: absolute;
    font-size: 0.8em;
    line-height: unset;
    margin-left: 1rem;
    color: $color-gray-900;
    top: 0.3rem;
    font-weight: 900;
    pointer-events: none;
}

//// Input sizes, small - medium - large or unset(100%)
label.input-field:has(select).small {
    width: 10rem;
}

label.input-field:has(select).medium {
    width: 20rem;
}


label.input-field:has(select).large {
    width: 40rem;
}
