@{
    ViewData["Title"] = Model.Name;
}

@model NK.Web.CasePortal.Controls.ProductDetail.Models.ProductDetailViewModel
<br />
<br />
<br />

<h1>Model.Name</h1>
<img src="@Model.ImageUrl" alt="Image displaying product " />
<p>@Model.Description</p>