@{
    ViewData["Title"] = @Model.Product.Name;
}
@model NK.Web.CasePortal.Controls.ProductDetail.Models.ProductDetailViewModel

<h3>@Model.Product.Name</h3> 
<img src="@Model.Product.ImageUrl" alt="Image displaying product" />
<p>@Model.Product.Description</p>